html {
  background-color: black;
}
h1 {
  font-family: "Libre Baskerville", serif;
  color: white;
  text-transform: uppercase;
}

p {
  color: white;
}

img {
  border: 5px solid white;
  width: 100%;
}

.group {
  width: 50%;
  margin-left: 25%;
  margin-top: 6%;
  text-align: center;
}
